

*,
*:before,
*:after {
  box-sizing: border-box;
}

.inch-foot{
  max-width: 40%;
}
.profile-row{
  margin-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  border-bottom: 1px solid #d1c9af;
}
.color-tan{
  color: #d1c9af;
}

.form {
  display: grid;
  text-align: center;
  justify-content: center;
}
.row-center{
    padding-left: 47%;
}

.profile-card{
  padding-top: 3%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 4%;
  margin-top: 2%;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  line-height: .8;
  display: grid;
  grid-template-columns: .8em auto;
  border: none;
  gap: 0.5em;
  background-color: rgba(0, 0, 255, 0);
  
  
}
.form-control:hover{
    color:#B2E3AF;
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-control:focus-within {
  color: var(--form-control-color);
}

input[type="radio"] {
 
  -webkit-appearance: none;
 
  appearance: none;
 
  background-color: var(--form-background);

  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);

  background-color: CanvasText;
}

input[type="radio"]:hover {
    color:#B2E3AF;
    
  }

input[type="radio"]:hover:checked::before {
    transform: scale(.9);
    background-color:#B2E3AF;
}

input[type="radio"]:checked::before {
  transform: scale(.9);
  background-color:rgb(161, 161, 161);
}

